  /* some defaults for HTML tags */

  BODY, DIV,TD,TH,TR,TABLE,FONT,INPUT,OL,LI,UL,FORM,
  BLOCKQUOTE,P {
	  font-family: verdana, helvetica,sans-serif;
	  font-size: 9pt;
  }
  
  TH { color:#205018}

  BODY { text-align: center; }
  
  P { margin-top: 3px; margin-bottom: 3px; }
  
  TD, DIV { text-align: left; }

  H1 {font-size: 15pt;font-family: verdana, helvetica,sans-serif;color: maroon;}
  H2 {font-size: 13pt;font-family: verdana, helvetica,sans-serif;color: navy;}
  H3 {font-size: 12pt;font-family: verdana, helvetica,sans-serif;}
  H4 {font-size: 11pt;font-family: verdana, helvetica,sans-serif;}
  H5 {font-size: 10pt;font-family: verdana, helvetica,sans-serif;}
  
  A { color : #486591; text-decoration: none;}
  A:link { color : #486591; text-decoration: none;}
  A:active { color : #d5ae83; text-decoration: none;}
  A:visited { color : #305873; text-decoration: none;}
  A:hover { color : #5b80b7; text-decoration: underline;}

  /* Quran Text */

	.AyahArabic {
    font-family:"traditional arabic","Arabic Transparent","simplified arabic";
  	font-weight:normal;
    font-size: 22pt; 
    direction: rtl; 
    unicode-bidi: normal;
		color: #000000;
		text-align: right; 
		border: none; 
		border-top: 1px #999999 solid;
	}
	
    .AyahArabic2 {
    font-family:"traditional arabic","Arabic Transparent","simplified arabic";
  	font-weight:normal;
    font-size: 12pt; 
    direction: rtl; 
    unicode-bidi: normal;
		color: #000000;
		text-align: right; 
		border: none; 
	}
    

	.Script {
	  border: none;
		border-bottom: 1px #999999 solid; 
	}

	.Latin { 
		font-size: 9pt; 
		text-decoration: none;
		text-align: justify;
		color: green; 
		background-color: #eeeede
	}

	.Surah { 
		font-size: 9pt;
		text-align: right;
		text-decoration: none; 
		color: black; font-weight: bold;
  }
		
	.Teks {  
		font-size: 9pt; 
		background-color: #ffffee; text-decoration: none;
		text-align: justify;
		color: black; 
  }
  
  .bMaroon { color: #aa0000; } /*!< bolded words/phrases */

	.EvenLang {
		font-family: helvetica, sans-serif; font-size: 9pt; 
		color: black; 
	}

	.OddLang {  
		font-family: helvetica, sans-serif; font-size: 9pt;
		color: green; 
	}

  /* For the random ayah page */
	.rLatin { 
		font-family: tahoma, helvetica, sans-serif; font-size: 9pt; 
		text-decoration: none;
		color: green;
	}
	.rEvenLang {  
		font-family: tahoma, helvetica, sans-serif; font-size: 9pt; 
		text-decoration: none; 
		color: navy;
	}
	.rOddLang {  
		font-family: tahoma, helvetica, sans-serif; font-size: 9pt; 
		text-decoration: none; 
		color: black;
	}
		
	.Phrase {color: #aa0000;}

  .CenterPanel {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
  }
  
  .qseTitle     { font-size: 22pt;}
  .qseMenubar   { font-weight: bold; border: 1px green solid; background-color: #eeffee;}
  .qseQuerybox  { border: 1px #7bc283 solid; background-color: #bde6c5;}
  .qseMain      { border: 1px #aa0000 solid; padding: 5px; } 

  
  /* gadgets */
  .navbar    { }
  .optionbox { border: 1px #8888ff solid; background-color: #eeeeff;}
  .textbox   { border: 1px #cccccc solid; background-color: #f5f5f5;}
  .button    { border: 1px #999999 solid; font-weight: bold;}

  .main      { border: 1px #AA0000 solid; padding: 5px; }

  .gen { background-color:#F6F6EE }
  .gan { background-color:#EEF2E6 }
